/* Send newsletter page */

.send-newsletter {
    position: relative;
    max-width: 800px;
}

.send-newsletter__heading {
    margin-bottom: 1rem;
}

.send-newsletter__input-text {
    box-sizing: border-box;
    width: 100%;
    padding: 1.5rem;
    font-size: 22px;
    margin-bottom: 1rem;
}

.send-newsletter__input-submit {
    margin-top: 2rem;
}

/* Newsletters settings */

.newsletters-settings textarea {
    width: 100%;
    height: 25rem;
    font-family: monospace;
    padding: 1rem;
    line-height: 1.6;
}